.imagem:link, .imagem:visited {
    background-color: white;
    color: black;
    border: 2px solid rgb(37, 2, 161);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .imagem:hover, .imagem:active {
    background-color: rgb(37, 2, 161);
    color: white;
    border-radius: 18px;
  }
  .remover{
    border: 2px solid black;
  }

  .voltar:link, .voltar:visited {
    margin-left: 90%;
    position: fixed;
    background-color: white;
    color: black;
    border: 2px solid rgb(37, 2, 161);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .voltar:hover, .voltar:active {
    background-color: rgb(37, 2, 161);
    color: white;
    border-radius: 18px;
  }
 .container{
  border: 2px solid black;
  width: 20%;
  text-align: center;
 }
 .info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.voltar{
  margin: 0px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}